@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-primary: #0052CC;
}


#amount-filter .range-slider__range {
  background-color: var(--color-primary);
}
#amount-filter .range-slider__range[data-active] {
  background-color: var(--color-primary);
  opacity: 0.75;
}
#amount-filter .range-slider__thumb[data-lower] {
  background-color: var(--color-primary);
  height: 16px;
  width: 16px;
  border-radius: 50%;
}
#amount-filter .range-slider__thumb[data-upper] {
  background-color: var(--color-primary);
  height: 16px;
  width: 16px;
  border-radius: 50%;
}