# Backend
# compiled output
backend/dist
backend/node_modules
backend/build

# Logs
backend/logs
backend/*.log
backend/npm-debug.log*
backend/pnpm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/lerna-debug.log*

# Prisma
backend/generated/prisma

# OS
backend/.DS_Store

# Tests
backend/coverage
backend/.nyc_output

# IDEs and editors
.idea
.project
.classpath
c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
backend/.env
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local
backend/.env.local

# temp directory
backend/.temp
backend/.tmp

# Runtime data
backend/pids
backend/*.pid
backend/*.seed
backend/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
backend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Frontend
# dependencies
front/node_modules  
front/.pnp
front/.pnp.*
front/.yarn/*
front/.yarn/patches
front/.yarn/plugins
front/.yarn/releases
front/.yarn/versions

# testing
front/coverage

# next.js
front/.next/
front/out/

# production
front/build

# misc
front/.DS_Store
*.pem

# debug
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
front/.env*

# vercel
front/.vercel

# typescript
front/*.tsbuildinfo
front/next-env.d.ts

.env
